/* CSS HEX */
$seal-brown: #61210fff; /* 97 33 15 */
$celadon: #afd5aaff; /* 175 213 170 */
$white-smoke: #f0f2efff; /* 240 242 239 */
$bittersweet: #ff6f59ff; /* 255 111 89 */
$taupe-gray: #897c80ff; /* 137 124 128 */
